* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.lightrope {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  padding: 0;
}
ul {
  padding: 5px;
  margin: 2px;
}

li {
  animation-iteration-count:infinite;
  list-style: none;
  margin: 10px;
  padding: 3px;
  width: 0px;
  height: 5px;
  border-radius: 10px 80px ;
  display: inline-block;
  animation-name: flash-1;
  animation-duration: 1.4s;
}


 :nth-child(2n+1) {
  animation-name: flash-2;
  animation-duration: 1.4s;
}
 :nth-child(3n+1) {
  animation-name: flash-3;
  animation-duration: 1.2s;
}
 :nth-child(4n+1) {
  animation-name: flash-4;
  animation-duration: 1.2s;
}
:nth-child(odd) {
  animation-duration: 1.5s;
}
:nth-child(3n+1) {
  animation-duration: 1.4s;
}


.velocidade li {
  animation-iteration-count:infinite;
  list-style: none;
  margin: 10px;
  padding: 3px;
  width: 0px;
  height: 5px;
  border-radius: 10px 80px ;
  display: inline-block;
  animation-name: flash-1;
  animation-duration: 1.4s;
}
.velocidade :nth-child(2n+1) {
  animation-name: flash-2;
  animation-duration: 0.4s;
}
.velocidade :nth-child(3n+1) {
  animation-name: flash-3;
  animation-duration: 0.7s;
}
.velocidade :nth-child(4n+1) {
  animation-name: flash-4;
  animation-duration: 0.7s;
}
.velocidade :nth-child(odd) {
  animation-duration: 0.8s;
}
.velocidade :nth-child(3n+1) {
  animation-duration: 0.4s;
}

@keyframes flash-1 { 
  0%, 100% { background: rgb(222, 247, 0);
  box-shadow: 0px 5px 24px 2px rgb(185, 247, 0);} 
  50% { background: rgba(185, 247, 0, 0.4);
  box-shadow: 0px 5px 24px 2px rgba(173, 247, 0, 0.2);}
}
@keyframes flash-2 { 
  0%, 100% { background: rgba(0,255,255,1);
  box-shadow: 0px 5px 24px 2px rgba(0,255,255,1);} 
  50% { background: rgba(0,255,255,0.4);
  box-shadow: 0px 5px 24px 2px rgba(0,255,255,0.2);}
}
@keyframes flash-3 { 
  0%, 100% { background:  rgba(247,0,148,1);
  box-shadow: 0px 5px 24px 2px rgba(247,0,148,1);} 
  50% { background: rgba(247,0,148,0.4);
  box-shadow: 0px 5px 24px 2px rgba(247,0,148,0.2);}
}
@keyframes flash-4 { 
  0%, 100% { background:  rgb(36, 54, 219);
  box-shadow: 0px 5px 24px 2px rgb(36, 54, 219);} 
  50% { background: rgb(36, 54, 219,0.4);
  box-shadow: 0px 5px 24px 2px rgb(36, 54, 219,0.2);}
}

button {
  width: 150px;
  margin-top: 550px;
  margin-left: 50%;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}